#home {
    text-align: center;

    #logo-home {
        font-size: clamp(2rem, 10vw, 10rem);
        // color: crimson;

        // background: -webkit-linear-gradient(crimson, rgb(190, 9, 9));
        // background-clip: text;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;

        background-color: crimson;

        background-image: linear-gradient(45deg, crimson, rgb(255, 72, 0));
        background-size: 100%;
        background-repeat: repeat;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        background-clip: text;
    }
}
